#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    color: #00d290;
  }
  
  #modal-title {
    font-size: 22px;
    color: #00d290;
    position: relative;
    text-align: center;
  }
  
  #modal-footer {
    justify-self: right;
    align-self: center;
  }
  
  #modal-action-button {
    margin-right: 30px;
    background-color: white;
    color: #00d290;
    border: 1px solid #00d290;
  }
  
  #modal-cancel-button {
    background-color: white;
    color: #00d290;
    border: 1px solid #00d290;
  }
  
  .modal-number-input {
    border: 1px solid #00d290;
    width: 140px;
  }
  
  .example-full-width {
    width: 140px; 
  }
  .mat-form-field-infix{
      border: 1px solid #00d290;
  }