<div id="modal-content-wrapper">
  <header id="modal-header">
    <h1 id="modal-title">Create Activity</h1>
  </header>
    <form [formGroup]="activityForm">
      <section id="modal-body">
        <div class="form-group">
          <label
            >Title
            <input
              class="form-control modal-number-input"
              placeholder="Title"
              formControlName="title"
            />
          </label>
        </div>
        <div class="form-group">
          <label
            >Description
            <input
              class="form-control modal-number-input"
              placeholder="Description"
              formControlName="description"
            />
          </label>
        </div>
        <div class="form-group">
          <label
            >Code
            <input
              class="form-control modal-number-input"
              placeholder="Code"
              formControlName="code"
            />
          </label>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="example-full-width">
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="scheduledDate"
              (dateInput)="changeTime('input', $event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </section>
      <footer id="modal-footer">
        <button
          mat-raised-button
          [disabled]="!activityForm.valid"
          id="modal-action-button"
          (click)="onCreate()"
        >
          Create
        </button>
        <button
          mat-raised-button
          id="modal-cancel-button"
          (click)="hideChildModal()"
        >
          Cancel
        </button>
      </footer>
    </form>
</div>
