<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Upload food product</h1>
    </header>
    <button class="button button-add" type="button" (click)="recognizePicture()" >Upload&nbsp;Check</button>
    <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <img src="https://tesseract.projectnaptha.com/img/eng_bw.png" width="50%" />
        <h2>Result: </h2>
        <p>
          {{ ocrResult }}
        </p>
      </div>
</div>